@using projetGarderieWebApp.Models
@model DepenseDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <form asp-controller="Depense" asp-action="ModifierDepense" method="post">
        <input type="hidden" asp-for="DateTemps">
        <label>Catégorie de la dépense</label>
        <select asp-for="CategorieDepense.Description" >
            @foreach (CategorieDepenseDTO categorie in ViewBag.listeCategorieDepenses)
            {
                {
                    <option value=@categorie.Description>@categorie.Description</option>
                }
            }
        </select>
        <br>
        <label>Commerce de la dépense</label>
        <select asp-for="Commerce.Description">
            @foreach (CommerceDTO commerce in ViewBag.listeCommerces)
            {
                {
                    <option value=@commerce.Description>@commerce.Description</option>
                }
            }
        </select>
        <table>
            <tbody>
            <tr>
                <td> <label asp-for="Montant"></label></td>
                <td> <input asp-for="Montant" type="number"> </td>
            </tr>
                <input type="hidden" name="nomGarderie" value="@ViewBag.nomGarderie">
        </tbody>
         
    </table>
        <input type="submit" value="Modifier">
        <input type="button" value="Annuler" onclick="history.back();" />
        
    </form>
}
