@using projetGarderieWebApp.Models
@model EnfantDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <form asp-controller="Enfant" asp-action="ModifierEnfant" method="post">
        <table>
            <tbody>
            <tr>
                <td><label asp-for="Prenom"></label></td>
                <td> <input class="form-control" asp-for="Prenom" readonly> </td>
            </tr>
            <tr>
                <td><label asp-for="Nom"></label></td>
                <td> <input class="form-control" asp-for="Nom" readonly> </td>
            </tr>
            <tr>
                <td> <label asp-for="DateNaissance"></label></td>
                <td> <input class="form-control" asp-for="DateNaissance" readonly> </td>
            </tr>
            <tr>
                <td> <label asp-for="Adresse"></label></td>
                <td> <input class="form-control" asp-for="Adresse"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Ville"></label></td>
                <td> <input class="form-control" asp-for="Ville"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Province"></label> </td>
                <td><select name="province" asp-for="Province" class="form-control" id="province">
                    <option value="Alberta">Alberta</option>
                    <option value="Colombie Britannique">Colombie Britannique</option>
                    <option value="Manitoba">Manitoba</option>
                    <option value="Nouveau Brunswick">Nouveau Brunswick</option>
                    <option value="Terre-Neuve et Labrador">Terre-Neuve et Labrador</option>
                    <option value="Nouvelle-Écosse">Nouvelle-Écosse</option>
                    <option value="Territoires du Nord-Ouest">Territoires du Nord-Ouest</option>
                    <option value="Nunavut">Nunavut</option>
                    <option value="Ontario">Ontario</option>
                    <option value="Ile du Prince-Édouard">Ile du Prince-Édouard</option>
                    <option value="Québec">Québec</option>
                    <option value="Saskatchewan">Saskatchewan</option>
                    <option value="Yukon">Yukon</option>
                </select>
                </td>
            </tr>
            <tr>
                <td> <label asp-for="Telephone"></label> </td>
                <td> <input class="form-control" asp-for="Telephone"> </td>
            </tr>
            <tr><td><input type="submit" value="Modifier"></td></tr>   
        </tbody>
         
    </table>
        
    </form>
}
