@using projetGarderieWebApp.DTOs
@model GarderieDTO;
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <form asp-controller="Garderie" asp-action="Garderie" method="post">
        <table>
            <tbody><tr>
                <td><label asp-for="Nom"></label></td>
                <td> <input asp-for="Nom" readonly="readonly"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Adresse"></label></td>
                <td>  <input asp-for="Adresse"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Ville"></label></td>
                <td> <input asp-for="Ville"> </td>
            </tr>
            <tr>
                <td> <label asp-for="Province"></label> </td>
                <td> <input asp-for="Province">  </td>
            </tr>
            <tr>
                <td>  <label asp-for="Telephone"></label> </td>
                <td>  <input asp-for="Telephone"> </td>
            </tr>
        </tbody></table>
        <input type="submit" value="Modifier">
        <input type="button" value="Annuler" onclick="history.back();" />
        
    </form>
}